 <!-- sidebar nav-->
 

      <div class="col-sm-3 col-md-2 sidebar sidebar-collapse">
        <ul class="nav nav-sidebar">
            <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"><i class="fa">&#xf2ba;</i> Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#careerobj" role="tab" aria-controls="careerobj"><i class="fa fa-briefcase"></i> Job Traits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#quali" role="tab" aria-controls="quali"><i class="fa fa-graduation-cap"></i> Academic Qualification and Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#professional" role="tab" aria-controls="professional"><i class="fa fa-desktop"></i> Professional Background</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#skillset" role="tab" aria-controls="skillset"><i class="fa fa-wrench"></i> Technical Skill Set</a>
            </li>
             <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#interest" role="tab" aria-controls="interest"><i class="fa fa-lightbulb-o"></i> Technologies of my Interest</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#recognition" role="tab" aria-controls="certi"><i class="fa fa-trophy"></i>Appreciations and Recognitions</a>
              </li> 
           
                 <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#certi" role="tab" aria-controls="certi"><i class="fa fa-wpforms"></i> Certifications</a>
              </li> 
           
              <li class="nav-item">
            
                <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="nav-link">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-dashboard fa-fw mr-3"></span>
                        <span class="menu-collapsed">Project Curriculum</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                </li>

                <!-- Submenu content -->
                <div id="submenu1" class="collapse sidebar-submenu">
                  <ul class="list-group">
                    <li class="nav-item">
                    <a href="#workproj" data-toggle="tab" class="list-group-item list-group-item-action nav-link">
                        <span class="menu-collapsed">Work Projects</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#acaproj" data-toggle="tab" class="list-group-item list-group-item-action nav-link">
                        <span class="menu-collapsed">Academic Projects</span>
                    </a>
                     </li> 
                     
                 
                  </ul>
                </div>
                
              
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#workshop" role="tab" aria-controls="workshop"><i class="fa fa-group"></i> Papers Presented and Workshops Attended</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#extra" role="tab" aria-controls="extra"><i class="fa fa-thumbs-up"></i> Personal Traits and Extra Curriculum</a>
                    </li>
                    <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#contactme" role="tab" aria-controls="contactme"><i class="fa fa-envelope"></i> Contact Me</a>
          </li>
                   

        </ul>
      
      </div>
