{% load static %} 

<div class="tab-pane" id="certi" role="tabpanel">
                            <h3 class="sub-header">Certifications</h3>   
                                <div class="row">
                               
                                  
                                     
                                  <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="5000">
                                  <!-- Indicators -->
                                  <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    
                                  </ol>
                              
                                  <!-- Wrapper for slides -->
                                  <div class="carousel-inner">
                                    <div class="item active">
                                     <h4>JAPAN FOUNDATION AND EDUCATIONAL EXCHANGES AND SERVICES – “CERTIFIED
                                          JAPANESE LANGUAGE PROFICIENCY LEVEL N4”.</h4>
                                          <img src="{% static "portfolioapp/img/JLPT.png" %}" style="" class="responsive-img" />
                                      
                                      
                                    </div>
                              
                                    <div class="item">
                                        <h4> Certified in “JAVA TECHNOLOGIES” as a part of ORACLE‟S WORKFORCE
                                            DEVELOPMENT PROGRAM at NIIT Coimbatore.</h4>
                                            <img src="{% static "portfolioapp/img/java2.png" %}" style="" class="responsive-img" />
                                    
                                    </div>
                                    
                                    <div class="item">
                                        <h4> Certified in “JAVA TECHNOLOGIES” as a part of ORACLE‟S WORKFORCE
                                            DEVELOPMENT PROGRAM at NIIT Coimbatore.</h4>
                                            <img src="{% static "portfolioapp/img/java1.png" %}" style="" class="responsive-img" />
                                    
                                    </div>
                                    
                                  
                              
                                  <!-- Left and right controls -->
                                  <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </div>
                            
                                </div>
                                  </div>
                                </div>

                            
                              
                                  