 <div class="tab-pane" id="contactme" role="tabpanel">
                            <h3 class="sub-header">My Details</h3>
                             <div class="row" >
                  
                    <div class="col-md-8" style="background-color: white">
                        <div class="table-responsive">
                            <table class="table table-striped">
                              
                              <tbody>
                                <tr>
                                      <th>Full Name</th>
                                      <td>Covai Chandramohan Nivetha</td>
                                      
                                    </tr>
                                  <tr>
                                      <th>Date of Birth</th>
                                      <td>20 February 1995</td>
                                      
                                    </tr>
                                <tr>
                                  <th>Age</th>
                                  <td>23 Years</td>
                                  
                                </tr>
                                <tr>
                                  <th>Gender</th>
                                  <td>Female</td>
                                  
                                </tr>
                                <tr>
                                    <th>Nationality</th>
                                    <td>Indian</td>
                                </tr>
                                <tr>
                                    <th>Hobbies</th>
                                    <td>Learning the calendar and Predcting the days with date and year,Reading Books,Dancing , Writing articles on sports(cricket) in English</td>
                                </tr>
                                <tr>
                                    <th>Languages Known</th>
                                    <td>English(R/W/S),Japanese(R/W/S),Tamil(R/W/S), Telugu(S),Malayalam(S),Hindi(R/W)   </td>
                                </tr>
                                
                                </tbody>
                                </table>
                        
                    </div>
                    <hr>
                                 <ul class="list-group">
                                              <li class="list-group-item"> <strong>e-mail</strong>        : <a href="">ccnivetha.2@gmail.com</a></li>
                                            
                                              <li class="list-group-item"><strong> Address </strong>      : 2-17-31-337 ,Social Residence ,Midoricho ,Koganei City ,Tokyo ,Japan 〒 184-003</li>
                                              <li class="list-group-item"> <strong>Linkedin</strong>  : <a type="button" href="https://www.linkedin.com/in/nivetha-c-c/" title="LinkedIn" target="_blank" class="btn-floating btn-lg btn-li"><i class="fa fa-linkedin"></i></a>
                                              </li>
                                            </ul>
                  </div>
                </div>
              </div>


                   
                           
                                    
                         
                    
