
 <div class="tab-pane" id="careerobj" role="tabpanel">
                            <h3 class="sub-header">Job traits</h3>
                                <div class="parallax">Its a long way, but its worth it...</div>
                               

                                    <div style="color:#232336;background-color:white;padding:50px 80px;text-align: justify;">
          <h3>Career Objective</h3>
           <p>Career progress through constant learning, comprehensive application, dedicated deeds and courteous conduct</p>
                                        <p>To secure a challenging position where I can effectively contribute my skills as a Professional and grow along side with the organisation </p>
                                        
          <h3>Mission</h3>
                                        <p>To meet and exceed organisation’s bench mark to ensure improved productivity and Customer Delight.</p>
                                  
          <h3>Personal Skills</h3>
          <p>
                                       
                                              <li>Proactive approach and Optimistic Outlook.</li>
                                              <li>Interpersonal and Communication Skills Comprehensive analytical ability.</li>
                                              <li>Comprehensive analytical ability.</li>
                                              <li>Decision making ability and Leadership Quality.</li>
                                              <li>Motivation and Team Development Skills.</li>
                                          
                                          
                                        </p>
                                          </div>
                                      
                                          
                                           
  </div>



                        