 
 <div class="tab-pane" id="workshop" role="tabpanel">
                            <h3 class="sub-header">Papers Presented and Workshops Attended</h3> 
                          
<div class="bgimg-1">
    <div class="caption">
      <span class="border">Papers Presented</span>
    </div>
  </div>
  
  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Internet of Things (IOT)</h3>
    <p>
      <strong>Abstract</strong> : This paper deals with the expectations of how IOT is going to transform our lives and
      its elements and its applications will create a big revolution in years to come.

 </p>
  </div>
  
  <div class="bgimg-2">
   <!--  <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #0f0e0e;">IOT</span>
    </div> -->
  </div>
  
  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
          <h3 style="text-align:center;">Big Data Analytics</h3>
          <p><strong>Abstract</strong> : The paper deals with the concept, characteristics, technologies and different offerings available in the market to explore huge amount of data.The process of examining large and varied data sets -- i.e., big data -- to uncover hidden patterns, unknown correlations, market trends, customer preferences and other useful information that can help organizations make more-informed business decisions.</p>
  </div>
  <!-- <div style="position:relative;">
          <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
      <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
    </div>
  </div> -->
  
  <div class="bgimg-3">
    <!-- <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #050505;">Cloud Computing</span>
    </div> -->
  </div>
  <!-- <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
    </div>
  </div> -->
  <div class="bgimg-4">
    <div class="caption">
      <span class="border">Workshops Attended</span>
    </div>
        </div>
        <div style="color: rgb(19, 18, 18);background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
          <ul class="list-group">
            <li class="list-group-item">One day workshop on <strong>“Mysteries of Pointers and Data Structures”</strong></li>
            <li class="list-group-item">Two day workshop on <strong>“Private Cloud Setup – Open Stack”</strong></li>
            <li class="list-group-item">One day workshop on <strong>“Mastering the Art of Web Designing”</strong></li>
              <li class="list-group-item">One day workshop on <strong>“Ethical Hacking & Android Application Development”</strong></li>
                <li class="list-group-item">Two day workshop on <strong>“The Next Era of BigData Analytics (Internet of Things)”.</strong></li>
          </ul>
        </div>
                        </div>