 {% load static %}
            <div class="tab-pane active" id="profile" role="tabpanel">
              <div class="row">
                 <div class="header">
                      <div class="responsive">
                        <h2 id="nivi">Nivetha C C</h2>
                  <h5>Information Technology Engineer</h5>
                    <img src="{% static "portfolioapp/img/nivi.png" %}"class="avatar" />
                       
                        <p class="opaqueme">"I <i class="fa fa-heart"></i> Challenges and it <i class="fa fa-heart"></i>s me back ~ as I'm Being Myself, Doing Myself, For Myself !!!"</p>
                      </div>
                      </div>
                      </div>
                    </div>
          