{% load static %}
 <div class="tab-pane" id="professional" role="tabpanel">
                            <h3 class="sub-header">Professional Background</h3>

                            
                              
                                    <div class="card" style="background-color: white">
                                        <div class="row ">
                                          <h4 class="card-text" style="padding-left: 30px;font-family: serif;"><strong>Human Resocia.Co.Ltd</strong></h4>
                                          <div class="col-md-3">
                                            <img src="{% static "portfolioapp/img/human.png" %}" height="200" width="200" class="responsive-img" />
                                          </div>
                                          <div class="col-md-8 px-3">
                                            <div class="card-block px-3">
                                             
                                              <p class="card-text">
                                                  <div class="table-responsive">
                                                      <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Designation</th>
                                                                <th>Technology</th>
                                                                <th>Experience</th>
                                                                <th>Duration</th>
                                                                <th>Location</th>
                                                              </tr> 
                                                        </thead>
                                                        <tbody>
                                                          <tr>
                                                            <td>Information Technology Engineer</td>
                                                            <td>ASP.Net MVC</td>
                                                            <td>*6 months</td>
                                                            <td>2018/02/07 ~ Till Date</td>
                                                            <td>Tokyo,Japan</td>
                                                            
                                                          </tr>
                                              
                                                          </tbody>
                                                          </table>
                                                  
                                              </div>
                                              </p>
                                             
                      
                                            </div>
                                          </div>
                                        </div>
                                        </div>         

                              
                                  
                                 <br>

                                
                                        <div class="card" style="background-color: white">
                                            <div class="row ">
                                              <h4 class="card-text" style="padding-left: 30px;font-family: serif;"><strong>EIT Services India Pvt.Ltd ( DXC.Technology~Hewlett Packard Enterprise )</strong></h4>
                                              <div class="col-md-3">
                                                <img src="{% static "portfolioapp/img/DXC-Technology-Logo.png" %}" class="responsive-img"/>
                                                
                                              </div>
                                              <div class="col-md-8 px-3">
                                                <div class="card-block px-3">
                      
                                                  <p class="card-text">
                                                      <div class="table-responsive">
                                                          <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                  <th>Designation</th>
                                                                  <th>Technology</th>
                                                                  <th>Experience</th>
                                                                  <th>Duration</th>
                                                                  <th>Location</th>
                                                                  </tr> 
                                                            </thead>
                                                            <tbody>
                                                              <tr>
                                                                <td>MS SQL Server Database Administrator</td>
                                                                <td>MS SQL Server</td>
                                                                <td>1 Year 24 Days</td>
                                                                <td>2016/11/14 ~ 2017/12/08</td>
                                                                <td>Chennai,India</td>
                                                              </tr>
                                                              </tbody>
                                                              </table>
                                                      
                                                  </div>
                                                  </p>
                                                              
                                                </div>
                                              </div>
                                            </div>
                                            </div>

                                     
                                               
                           
                              </div>