<div class="tab-pane" id="workproj" role="tabpanel">
                            <h3 class="sub-header">Work Projects</h3>

                          
                            <div class="panel panel-default">
                                <div class="panel-heading">Human Resocia Co.Ltd</div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                          <thead>
                                              <tr>
                                                <th>Role</th>
                                                <th>Duration</th>
                                                <th>Client</th>
                                                <th>Skills</th>
                                                </tr> 
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>Information Technology Engineer</td>
                                              <td>2018/02/07 ~ Till Date</td>
                                              <td>K Line Logistcs,Japan</td>
                                              <td>ASP.Net MVC</td>
                                                                                                 
                                            </tr>
                                
                                            </tbody>
                                            </table>
                                    
                                </div>
                                <hr>
                               <p>
                                 
                                  <strong>Project Name : Entry-Exit Warehousing System</strong>
                                  <p><strong>Description:</strong></p>
                                  <p>Development of Entry-exit Warehousing System ,a Web Application which deals with tracking the movement of cargo via air,sea or domestic means from the origin to the destination.
                                      The various modules involving Administration,Inventory management , Warehousing management , Shipping ,Picking of cargo, Packing and Delivery.</p>
                                      <p><strong>No of Members in the Team : 4</strong></p>
                                      <h3 style="margin:3px">Roles and Responsibilities- As a Software Developer</h3>
                                      <div id="RandR">
                                     
                                          <ul>
                                          
                                          <li>Design,Documentation and Creation of database for the entire system.</li>
                                          <li>Developed the Administration module which manages the authorized users to get access to the system.</li>
                                          <li>Involved in the development of building the Inventory management module.</li>
                                          <li>Developed the Warehousing management module.</li>
                                          <li><strong>Technology Used : ASP.Net MVC 5 , ASP.Net Identity for Authentication, MS SQL Server 2017,HTML 5 , CSS3, Bootstrap 4, JavaScript </strong></li>
                                          <li><strong>Tools : A5 ,SQL Server Management Studio,Bootstrap Studio</strong></li>
                                          <li><strong>IDE : Visual Studio 2017</strong></li>
                                          </ul>
                                          </div>
                                        
                          

                               </p>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">EIT Services India Pvt.Ltd(DXC.Technology~Hewlett Packard Enterprise)</div>
                                  <div class="panel-body">
                                      <div class="table-responsive">
                                          <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                  <th>Role</th>
                                                  <th>Duration</th>
                                                  <th>Client</th>
                                                  <th>Skills</th>
                                                  </tr> 
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>MS SQL Server Database Administrator(DBA)</td>                                            
                                                <td>Feb 2017 ~ Dec 2017</td>
                                                <td>AIMIA.Inc</td>
                                                <td>MS SQL Server 2008 R2</td>
                                              </tr>
                                             
                                              
                                              <tr>
                                                  <td>Trainee</td>                                            
                                                  <td>Nov 2016 ~ Jan 2017</td>
                                                  <td>AIMIA.Inc</td>
                                                  <td>C#.Net , MS SQL Server 2008 R2</td>
                                                </tr>
                                                                                                                                                  
                                                </tbody>
                                                
                                              </table>
                                      
                                  </div>
                                  <hr>
                                  <p>
                                    <strong>No of Members in the Team : 3</strong>
                                      <h3 style="margin:3px">Roles and Responsibilities - MS SQL DBA</h3>
                                      
                                          
                                      <div id="RandR">
                                        <ul>
                                          <li>Installation and configuration of MS SQL Server 2008R2 and SQL Server 2012.</li>
                                          <li> Upgrading versions/editions of SQL server 2008R2 to SQL server 2012.</li>
                                          <li>Managing around 42 servers and 950 databases with sizes up to 2TB.</li>
                                          <li> Planning, testing and implementation of SQL patch upgrades across all lower and
                                              production environments.</li>
                                          <li>Troubleshoot and resolve production database issues as per agreed business SLA’s like space issues,
                                              memory bottleneck issues and backup failures.</li>
                                          <li>Resolving Tickets which includes creating and maintaining databases, monitoring and resolving
                                              Disk Space issues, database integrity, identifying missing Indexes, handling blocking and deadlocking issues.
                                              Backup and Restore of Databases.</li>
                                          <li>Implementing strategies for Backup and Recovery and coordinating Log Shipping activities.</li>
                                          <li>Coordinating with the development team to fix any kind of application related SQL job failures.</li>
                                          <li>Verifying and resolving the SQL Server Blocking issues and Finding and fixing the root
                                              cause.</li>
                                          <li>Continuous improvement efforts in enhancing performance and providing increased functionality,
                                              including performing proactive maintenance such as ensuring continued space availability, monitoring
                                              activity, and documenting problems, changes, and solutions.</li>
                                          <li>Deploying and validating changes in the Databases.</li>
                                          <li>Handling escalated issues from DB support team.</li>
                                          <li>Creating and scheduling the jobs and troubleshooting the failed jobs.</li>
                                          <li>Working on Change Requests and Service Requests, performing necessary deployments.</li>
                                          <li>Working on migration of database servers, setting up Disaster Recovery Servers.</li>
                                          <li>Sorting out Login issues for users.</li>
                                          <li>Security Administration, creating logins, granting roles on databases, granting permissions on
                                              objects.</li>
                                          <li>Setting up maintenance plans, Implementing alerts for database and job failure errors.</li>
                                          <li>Analysing SQL queries, creating indexes and carrying out performance tuning activities.</li>
                                          <li>Configuring and setting up DB Mail.</li>
                                          <li>Executing and Deploying SSIS Packages and generating Audit Reports.</li>
                                          <li>Proficient in SQL Profiler, Index Tuning and Performance Monitor.</li>
                                          <li>Troubleshooting database issues and Performance tuning activities like verifying slow
                                              running queries and identifying missing indexes and also usage of statistics.</li>
                                          <li>Monitoring SQL server performance using profiler to find deadlocks.</li>
                                        </ul>
                                      </div>
                                    </p>
                                    <hr>
                                   <p>
                                      <h3 style="margin:3px">Roles and Responsibilities - Trainee</h3>
                                                                                           
                                      <div id="RandR">
                                        <ul>
                                          <p>
                                              <h5 style="background:rgb(174, 207, 241)">EXXON – AUDIT REPORT AUTOMATION TOOL</h5>
                                              <li> <strong>Skills: Technology: C# .Net; Tool: Visual Studio 2010</strong></li>
                                                  
                                                  <p>
                                                    
                                                    Worked single handed in developing AUDIT REPORT AUTOMATION TOOL.
                                                                                                              
                                                    
                                                   <strong>Description:</strong>
                                                    <p>Console Application to automate the analysis of report files of larger sizes,
                                                        thereby triggering automatic Mail request for migration forms for the larger files
                                                        which are attached in the mail. This tool was developed as a module to automate the
                                                        report generation process for the client.</p>

                                                    </p>
                                                  </p>
                                                  </ul>
                                                  <ul>
                                                      <h4><strong>Training Period Projects</strong></h4>
                                                      <h5 style="background:rgb(174, 207, 241)">WEB PAGE PARSER</h5>
                                                      
                                                      <strong>
                                                      <li>Platform: Technology- Front End: C#; Back End: SQL Server 2008 R2;</li>
                                                      <li>Tool: Visual Studio 2010</li>
                                                      <li>Skills: C#.Net, SQL Server 2008 R2, Visual Studio 2010.</li>
                                                      Description:
                                                      </strong>
                                                      <p>
                                                        
                                                          Windows Form Application to dynamically load the contents of the webpage and store
                                                          it in database.
                                                      </p>
                                                      </ul>
                                                  
                                                  </div>
                                                  <br>


                                   </p>
                                  </div>
                                </div>
                                </div>

                        <div class="tab-pane" id="acaproj" role="tabpanel">
                            <h3 class="sub-header">Academic Projects</h3> 

                            <div class="panel panel-default">
                                <div class="panel-heading">Temperature Data Analytics using Google Map</div>
                                <div class="panel-body">
                                <p>
                                    <strong>Skills : Technology : Cloud Computing ; Front End : HTML,CSS,BOOTSTRAP,PHP
                                        AJAX,JSON; Back End : MySQL</strong>
                                        <p><strong>Description :</strong> 
                                        Temperature data analytics using Google map is a web application which provides
                                        the current temperature and other weather parameters for any geographical location and analysis
                                        is done on real-time historical data and the result is envisioned in the form of charts.</p>
                                </p>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                  <div class="panel-heading">Automated Test Simulator</div>
                                  <div class="panel-body">
                                  <p>
                                      <strong>Technology : Java; &nbsp;Front End: Core Java; Back End: MySQL; Tool: Net Beans/Eclipse</strong>
                                     <p> <strong>Description : </strong>Automated Test Simulator is a Test Management Software, which offers a complete
                                      Solution for Computer Based Testing (CBT).</p>
                                  </p>
                                  </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Picket 'N Pocket</div>
                                    <div class="panel-body">
                                    <p>
                                        <strong>Technology : Android; &nbsp;Front End: Java; Back End: SQLite; Tool: Eclipse</strong>
                                       <p> <strong>Description : </strong>This application is developed for the security of women, which safeguards
                                        them in case of emergency and prevents them from being victims of loutish activities.</p>
                                    </p>
                                    </div>
                                  </div>

                                        <br>
                                        
                                  </div>
                       