
<div class="tab-pane" id="extra" role="tabpanel">
                            <h3 class="sub-header">Personal Traits and Extra Curricular Achievements</h3>
                            <div class="panel panel-default">
                                <div class="panel-heading">Leadership Traits</div>
                                <div class="panel-body">
                                <p>
                                    <div id="RandR">
                                        <ul> 
                                          <li>Active member in SECE English Club.</li>
                                          <li>Appointed as a mentor for inculcating communication and interpersonal skills in students.</li>
                                          <li>Have been a volunteer for many college events and have done Master of Ceremony for
                                              various college events.</li>
                                          <li>Have been a volunteer and participated in 4th edition of “Industry connect” organised by Sri
                                              Eshwar College of Engineering in association with ICT Academy of TamilNadu on 11th & 12th
                                              of July 2014.</li>
                                         
                                          </ul>
                                          </div>
                                </p>
                                </div>
                              </div>
                              <br>
                              <div class="panel panel-default">
                                  <div class="panel-heading">Extra-Curricular Achievements</div>
                                  <div class="panel-body">
                                  <p>
                                      <div id="RandR">
                                          <ul> 
                                            <li>Declared as “Best Final year Project – CSE 2016” from “Anna University”.</li>
                                            <li>Won 1st Prize in Group Dance in Talents Day held at SECE on April 1st 2016.</li>
                                            <li>Won 1st Prize in English Poetry conducted by SECE on 4th March 2013.</li>
                                            <li> Won 3rd Prize for Group dance in Dr.Mahalinga College of Engineering and Technology on
                                                22nd Feb 2014.</li>
                                                <li>Won 1st (Chemistry) and 3rd (Physics) prize in Science Exhibition conducted by Avila Convent
                                                    MHSS on 29.10.2010</li>
                                                <li>Won 2nd Prize for Volleyball in Intramural Sports Competition 2013-2014 held at SECE.</li>
                                                <li>Winner at Throw ball for Annual Athletic Sports (Senior Division) held at Avila Convent MHHS
                                                    on 28.01.2010.</li>
                                           
                                            </ul>
                                            </div>
                                  </p>
                                  </div>
                                </div>
                     

                        </div>