{% load static %}
   <div class="tab-pane" id="quali" role="tabpanel">
                            <h3 class="sub-header">Academic Qualification and Achievements</h3>
                            <div class="panel panel-default">
                          
                              
                                <div class="panel-heading">Under Graduation (UG)</div>
                                <div class="panel-body">
                               
                                          <div class="card">
                                              <div class="row ">
                                                <div class="col-md-3">
                                                  <img src="{% static "portfolioapp/img/1471953305sri logo.jpg" %}" height="200" width="200" class="responsive-img" />
                                                 
                                                </div>

                                                <div class="col-md-8 px-3">
                                                  <div class="card-block px-3">
                                                    <p id="anicoll">Sri Eshwar College of Engineering,Coimbatore</p> 
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                  <th>Course</th>
                                                                  <th>University</th>
                                                                  <th>Score</th>
                                                                  <th>Duration</th>
                                                                </tr>                                      
                                                              </thead> 
                                                          <tbody>
                                                            
                                                            <tr>
                                                              <td>B.E.Computer Science and Engineering</td>
                                                              <td>Anna Universty</td>
                                                              <td>80.9%</td>
                                                              <td>2012 - 2016</td>
                                                              
                                                            </tr>
                                                           
                                                            </tbody>
                                                            </table>
                                                    
                                                    </div>
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">Academic Achievements</div>
                                                        <div class="panel-body">
                                                          
                                                            <strong>Consistent topper in academics in all the semesters held by Anna University.</strong>
                                                          
                                                          <li>
                                                              Secured 3rd Rank in First Semester in January 2013.
                                                          </li>
                                                          <li>
                                                              Secured 5th Rank in Second Semester in April/May 2013. 
                                                          </li>
                                                          <li>
                                                              Secured 3rd Rank in Third Semester in Nov/Dec 2013. 
                                                          </li>
                                                          <li>
                                                              Secured 5th Rank in Fifth Semester in Nov/Dec 2014. 
                                                          </li>
                                                          <li>
                                                              Secured 4th Rank in Sixth & Seventh Semester in Jan/Nov 2015. 
                                                          </li>
                                                          <li>
                                                              Secured 2nd Rank in Eighth Semester April/May 2016.
                                                            </li>                                                
                                                           
                                                        </div>
                                                  
                                                  </div>
                                                </div>
                                                
                                              
                                              </div>
                                              
                                                </div>
                                          </div>
                                          </div>
                                          </div>
                                          
                                           <br>
                                                                
                                      
                                      <div class="panel panel-default">
                                          <div class="panel-heading">Higher Secondary</div>
                                          <div class="panel-body">
                                              <div class="card">
                                                  <div class="row ">
                                                    <div class="col-md-3">
                                                      <img src="{% static "portfolioapp/img/avilalogo.jpg" %}" class="responsive-img" />
                                                      
                                                    </div>
                                                    <div class="col-md-8 px-3">
                                                      <div class="card-block px-3">
                                                          <p id="anisch">Avila Convent Matriculation Higher Secondary School</p>
                                                        <p class="card-text">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped">
                                                                  <thead>
                                                                      <tr>
                                                                          <th>Course</th>
                                                                          <th>Technology</th>
                                                                          <th>Score</th>
                                                                          <th>Duration</th>
                                                                        </tr> 
                                                                  </thead>
                                                                  <tbody>
                                                                    <tr>
                                                                      <td>Higher Secondary Certificate(HSC)</td>
                                                                      <td>State Board</td>
                                                                      <td>89.0%</td>
                                                                        <td>2011-2012</td>
                                                                      
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Secondary School Leaving Certificate (SSLC)</td>
                                                                        <td>Matriculation</td>
                                                                        <td>91.2%</td>
                                                                        <td>2009-2010</td>
                                                                    </tr>
                                                                   
                                                                    </tbody>
                                                                    </table>
                                                            
                                                        </div>
                                                        </p>
                                                                                       
                                                      </div>
                                                    </div>
                                                  </div>
                                                  </div>
                                          </div>
                                        </div>
                                                
                                                  </div>