{% load static %}
    <div class="tab-pane" id="skillset" role="tabpanel">
                            <h3 class="sub-header">Technical Skill Set</h3>
                            <div class="row">
                  
                                <div class="col-md-8">
                                    <div class="table-responsive" style="background-color: white">
                                        <table class="table table-bordered">
                                          
                                          <tbody>
                                              
                                            <tr>
                                              
                                              <th style="padding-top: 60px; background: rgb(200, 235, 245)">Operating System</th>
                                              <td><img src="{% static "portfolioapp/img/win10.jpg" %}" height="100" width="100" class="responsive-img" /><br>Windows 10</td>
                                              
                                              <td><img src="{% static "portfolioapp/img/ubuntulogo_3.png" %}" height="100" width="100" class="responsive-img" /><br>Ubuntu 14.04</td>
                                              
                                              <td></td>
                                             
                                            </tr>
                                            <tr>
                                                <th style="padding-top: 50px; background: rgb(200, 235, 245)">Programming Languages</th>
                                                <td><img src="{% static "portfolioapp/img/py.png" %}" height="100" width="100" class="responsive-img" /><br>Python</td>
                                                <td><img src="{% static "portfolioapp/img/csharp.png" %}" height="100" width="100" class="responsive-img" /><br>C#</td>
                                                <td><img src="{% static "portfolioapp/img/Java.png" %}" height="100" width="100" class="responsive-img" /><br>Java</td>
                                                
                                            </tr>
                                            <tr>
                                                <th style="padding-top: 60px; background: rgb(200, 235, 245)">FrameWorks</th>
                                                <td><img src="{% static "portfolioapp/img/pydjango.jpeg" %}" height="100" width="100" class="responsive-img" /><br>Django</td>
                                                <td><img src="{% static "portfolioapp/img/msmvc.png" %}" height="100" width="100" class="responsive-img" /><br>MVC</td>
                                                <td></td>
                                                
                                                
                                                                                            
                                            </tr>
                                            <tr>
                                                <th style="padding-top: 70px; background: rgb(200, 235, 245)">RDBMS</th>

                                                <td><img src="{% static "portfolioapp/img/Microsoft-SQL-Server-Logo.jpg" %}" height="100" width="100" class="responsive-img" /><br>SQL Server 2017, SQL Server 2012, 2008R2</td>
                                            
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th style="padding-top: 70px; background: rgb(200, 235, 245)">3rd Party DB Tools</th>
                                                 <td><img src="{% static "portfolioapp/img/images.jpeg" %}" height="100" width="100" class="responsive-img" /><br>HPE Data Protector</td>
                                                  <td><img src="{% static "portfolioapp/img/HP_OpenView.png" %}" height="100" width="100" class="responsive-img" /><br>HP OVO</td>
                                                   <td><img src="{% static "portfolioapp/img/contig.png" %}" height="100" width="100" class="responsive-img" /><br>Contig Defragmentation Tool</td>
                                                
                                            </tr>
                                            <tr>
                                                <th style="padding-top: 60px; background: rgb(200, 235, 245)">Reporting Tools</th>
                                                <td><img src="{% static "portfolioapp/img/sql-reporting-e1418025335323.png" %}" height="100" width="100" class="responsive-img" /><br>SSRS</td>
                                                <td></td>
                                                <td></td>                                             
                                                
                                            </tr>
                                              <tr>
                                                <th style="padding-top: 60px; background: rgb(200, 235, 245)">IDE</th>
                                                 <td><img src="{% static "portfolioapp/img/sublime-text_logo.png" %}" height="100" width="100" class="responsive-img" /><br>Sublime Text</td>
                                                 <td><img src="{% static "portfolioapp/img/howto_vs2017.jpg" %}" height="100" width="100" class="responsive-img" /><br>Visual Studio 2017</td>
                                                 <td><img src="{% static "portfolioapp/img/netbeans.jpeg" %}" height="100" width="100" class="responsive-img" /><br>NetBeans</td>
                                               
                                            </tr>
                                            <tr>
                                                <th style="padding-top: 60px; background: rgb(200, 235, 245)">Version Control Systems</th>
                                                <td><img src="{% static "portfolioapp/img/github.jpg" %}" height="100" width="100" class="responsive-img" /><br>Git Hub</td>
                                                <td><img src="{% static "portfolioapp/img/tortoise-svn-logo.png" %}" height="100" width="100" class="responsive-img" /><br>Tortoise SVN</td>
                                                
                                                
                                                <td></td>
                                            </tr>
                                          
                                          
                                            <tr>
                                                <th style="padding-top: 60px; background: rgb(200, 235, 245)">Ticketing Tools</th>
                                                <td><img src="{% static "portfolioapp/img/HP-service-manager-logo.png" %}" height="100" width="100" class="responsive-img" /><br>HP Service Manager</td>
                                                <td><img src="{% static "portfolioapp/img/redmine.png" %}" height="100" width="100" class="responsive-img" /><br>Redmine</td>
                                                
                                                
                                                <td></td>
                                            </tr>
                                            
                                            </tbody>
                                            
                                            </table>
                                    
                                </div>
                                </div>
                                </div>



                        </div>