   {% load static %}
 <div class="col-sm-9 col-sm-offset-3 col-md-10{% load static %} col-md-offset-2 main">
    <div class="tab-content" id="tab_contents">
    {% include 'profile.html' %}
    {% include 'jobtraits.html' %}
    {% include 'qualification.html' %}
    {% include 'professional.html' %}
    {% include 'skillset.html' %}
    {% include 'techinterest.html' %}
    {% include 'recognition.html' %}
    {% include 'certifications.html' %}
    {% include 'projects.html' %} 
    {% include 'ppw.html' %}
    {% include 'pta.html' %}  
    {% include 'contactme.html' %}                     
                     
    </div>
 </div>
                   
            