 {% load static %}
 <div class="tab-pane" id="interest" role="tabpanel">
                            <h3 class="sub-header">Technologies of my Interest</h3>
                           <div class="parallaxinterest">
                            


                           </div>
                            <div id="interest">
                                
                                       <strong>Technologies of Interest :</strong>  Web development using Python, Aritificial Intelligence - machine learning using Python,Big Data Analytics and Internet of Things (IOT)
                                       <p>
                                    <strong>
                                    <p><strong>I developed my portfolio website which runs with the powerful Django framework.</strong></p>
                                  
                                      
                                    </strong>
                                    <p>
                                      
                                        <strong>Technologies used : Python 3.6, Django 1.11.2 ,SQlite,HTML 5, CSS 3, Bootstrap 3, JS</strong>
                                    </p>
                                    
                                </p>
                               


                            </div>
                              
                            
                              </div>

                        
